version: '3.8'

services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    platform: linux/amd64
    extra_hosts:
      host.docker.internal: host-gateway
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - /home/app/web/static:/home/app/web/static
      - /home/app/web/media:/home/app/web/media
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

  nginx:
    build: ./nginx
    volumes:
      - /home/app/web/static:/home/app/web/static
      - /home/app/web/media:/home/app/web/media
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
  postgres_data:
