<p><span style="font-size: 14pt;"><strong>Заказ #{{number}} успешно оформлен</strong></span><br /><br /></p>
<table style="border-collapse: collapse; width: 100.056%; height: 73.6px;" border="1">
<tbody>
<tr style="height: 18.4px;">
<td style="width: 24.5282%; height: 18.4px;"><strong>Название</strong></td>
<td style="width: 24.5282%; height: 18.4px;"><strong>Цена</strong></td>
<td style="width: 24.5282%; height: 18.4px;"><strong>Количество</strong></td>
<td style="width: 24.5282%; height: 18.4px;"><strong>Итог</strong></td>
</tr>
<tr style="height: 18.4px;">
<td style="width: 24.5282%; height: 18.4px;">{{product_name}}</td>
<td style="width: 24.5282%; height: 18.4px;">{{product_price}}</td>
<td style="width: 24.5282%; height: 18.4px;">{{product_quantity}}</td>
<td style="width: 24.5282%; height: 18.4px;">{{getitog}}</td>
</tr>
</tbody>
</table>
<h4>Стоимость товаров: {{price_all}} руб</h4>
<h4>Стоимость доставки: {{dostavka_price}} руб</h4>
<hr />
<p>Способ доставки: <strong>{{dostavka}}</strong></p>
<p>Способ оплаты: <strong>Оплата в магазине (наличными/карте)<br /><br /></strong><strong>Имя: {{first_name}}<br /></strong><strong>Фамилия:&nbsp;</strong><strong>{{last_name}}<br />Номер: {{phone}}<br /></strong><strong>Email: {{email}}</strong></p>
<p><strong>&nbsp;</strong></p>